# Build directory
target

# Mac stuff
.DS_Store

# Eclipse stuff
.classpath
.launch
.metadata
.project
.scala_dependencies
.settings

# IntelliJ stuff
.idea
*.iml
*.ipr
*.iws

# Game of Life stuff
gol.log

